<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHPConsumer</title>
</head>
<body>
<form action="ConsumerPHP.php" method="post">
    StudentID: <input type="text" name="studentid">
    StudentName: <input type="text" name="studentname">
    StudentPhoneNo: <input type="text" name="studentphoneno">
    StudentSallary: <input type="text" name="studentsallary">


</form>
<input type="submit" value="opret">
</body>
</html>